name: CI/CD Seguro con GitHub Actions

on:
  push:
    branches: [ "main" ]
  pull_request:
    branches: [ "main" ]
  workflow_dispatch: 

jobs:
  build-and-test:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout del c칩digo
        uses: actions/checkout@v4

      - name: Configurar Node.js
        uses: actions/setup-node@v4
        with:
          node-version: '18'  

      - name: Instalar dependencias
        run: npm install

      - name: Ejecutar pruebas unitarias
        run: npm test
        env:
         API_KEY: ${{ secrets.API_KEY }}

      - name: Ejecutar aplicaci칩n con Secret
        run: |
          node src/index.js &
          PID=$!
          sleep 5
          echo "Finalizando servidor..."
          kill $PID
        env:
          API_KEY: ${{ secrets.API_KEY }}

      - name: Deploy a Render (manual API call)
        env:
          RENDER_API_KEY: ${{ secrets.RENDER_API_KEY }}
          RENDER_SERVICE_ID: ${{ secrets.RENDER_SERVICE_ID }}
        run: |
          echo "游 Desplegando a Render..."
          curl -X POST \
            -H "Accept: application/json" \
            -H "Authorization: Bearer $RENDER_API_KEY" \
            -d '{}' \
            "https://api.render.com/v1/services/$RENDER_SERVICE_ID/deploys"

      - name: Rotaci칩n autom치tica de claves (simulada)
        run: node rotate_key_sim/rotate-key.js
